@model parking.DataTransferObjects.ReporteDiario

@{
    ViewData["Title"] = "ReporteDiario";
}


<div class="container">
    <hr />
    <div class="row">
        <div class="col-12">
                <h2 class="control-label formulario__label text-center"> Reporte de @DateTime.Now.ToString("dd/MM/yyyy")  </h2>
            <div class="formulario" id="formulario">

                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">   @Html.DisplayNameFor(model => model.VehiculosIngresadosHoy)</label>
                    <div class="formulario__grupo-input">
                        <h3 class="text-center">  @Html.DisplayFor(model => model.VehiculosIngresadosHoy) </h3>
                    </div>
                </div>

                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">    @Html.DisplayNameFor(model => model.totalVehiculos)  </label>
                    <div class="formulario__grupo-input">
                        <h3 class="text-center">    @Html.DisplayFor(model => model.totalVehiculos)  </h3>
                    </div>
                </div>

                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">     @Html.DisplayNameFor(model => model.VehiculosQueHanSalido)  </label>
                    <div class="formulario__grupo-input">
                        <h3 class="text-center">                  @Html.DisplayFor(model => model.VehiculosQueHanSalido)  </h3>
                    </div>
                </div>

                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">
                        @Html.DisplayNameFor(model => model.cantidadDineroHoy)
                    </label>
                    <div class="formulario__grupo-input">
                        <h2 class="text-center">    @Html.DisplayFor(model => model.cantidadDineroHoy)  S/. </h2>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <hr />

    <div class="row">
        <div class="col-12">
            <h2 class="control-label formulario__label text-center"> Montos Usados Para Calcular  </h2>

            <div class="formulario" id="formulario">
                <div class="form-group formulario__grupo ">

                    <div class="formulario__grupo-input">
                        <label class="control-label formulario__label text-center"> Nocturno  </label>
                        <h4 class="text-center">    @Html.DisplayFor(model => model.costosUsados.nocturno) S/. </h4>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <div class="formulario__grupo-input">
                        <label class="control-label formulario__label text-center"> Hora  </label>
                        <h4 class="text-center">    @Html.DisplayFor(model => model.costosUsados.hora) S/. </h4>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <div class="formulario__grupo-input">
                        <label class="control-label formulario__label text-center"> fracion 30 in  </label>
                        <h4 class="text-center">    @Html.DisplayFor(model => model.costosUsados.f30) S/. </h4>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <div class="formulario__grupo-input">
                        <label class="control-label formulario__label text-center"> fraccion 15 min  </label>
                        <h4 class="text-center">    @Html.DisplayFor(model => model.costosUsados.f15) S/. </h4>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <div class="formulario__grupo-input">
                        <label class="control-label formulario__label text-center"> fraccion 5 minutos  </label>
                        <h4 class="text-center">    @Html.DisplayFor(model => model.costosUsados.f5) S/. </h4>
                    </div>
                </div>
            </div>
        </div>


        </div>
</div>