@using parking.DataTransferObjects;
@model InfSalidaVehiculo

@{
    ViewData["Title"] = "SalidaVehicular";


}

<h1>SalidaVehicular</h1>
@if (Model != null)
{
    <div class="row">
        @*<div class="col-12">
            <h4>Informacion Salida Vehicular</h4>*@

        <hr />
        @*</div>*@
        <div class="col-12">
            <div class="formulario" id="formulario">

                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">   @Html.DisplayNameFor(model => model.tiempoTotal)</label>
                    <div class="formulario__grupo-input">
                        <h6 class="text-center"> @Html.DisplayFor(model => model.tiempoTotal) </h6>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">    @Html.DisplayNameFor(model => model.MontoAPagar)</label>
                    <div class="formulario__grupo-input">
                        <h4 class="text-center text-danger font-weight-bold">  @Html.DisplayFor(model => model.MontoAPagar) S/. </h4>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">   @Html.DisplayNameFor(model => model.horasNocturnas)</label>
                    <div class="formulario__grupo-input">
                        <h6 class="text-center">@Html.DisplayFor(model => model.horasNocturnas) </h6>
                    </div>
                </div>
                <div class="form-group formulario__grupo">
                    <label class="control-label formulario__label text-center">    @Html.DisplayNameFor(model => model.horasDiurnas)</label>
                    <div class="formulario__grupo-input">
                        <h6 class="text-center"> @Html.DisplayFor(model => model.horasDiurnas) </h6>
                    </div>
                </div>


            </div>
        </div>
    </div>
}

<hr />
<hr />

<div class="row">
    <div class="col-12">
        <section class="formularioHidden">
            @*<h2 class="display-4"> Lea QR!!</h2>*@
            <form asp-controller="parking" asp-action="SalidaVehicular">
                <div class="formulario__grupo-input form" id="formulario">
                    <input type="text" class="text-center" name="texto" id="texto" />
                    <button id="btnEnv" class="formulario__btn btn btn-info"> Enviar</button>
                </div>

            </form>
        </section>
    </div>
</div>


<script>

    const texto = document.getElementById("texto");
    const btnEnviar = document.getElementById("btnEnv");

    window.onload() = function () => {
        texto.value = "1=>xx/xx/xxx=>HH:mm"
        btnEnviar.click();
    }


</script>

